<div class="request-container">
  
  <div class="request-card">
    <h3> <%=request.studentname  %></h3>
    <form action="/acceptRequest" method="post">
      <input name="senderEmail" value="<%= request.senderemail %>" type="hidden" />
      <input name="teamid" value="<%= request.teamid %>" type="hidden" />
      <button class="accept-button" type="submit">Accept</button>
    </form>
    <form action="/rejectRequest" method="post">
      <input name="senderEmail" value="<%= request.senderemail %>" type="hidden" />
      <input name="teamid" value="<%= request.teamid %>" type="hidden" />
      <button class="reject-button" type="submit">Reject</button>
    </form>
    
  </div>
</div>
