<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Team</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/my-team.css" />
  </head>
  <body>
    <%- include("./partials/navbar", {currentUser: currentUser}) %>

    <div class="main-container">
      
      <% if(locals.error) { %>
        <h1><%= error %></h1>
      <% } else { %>

      <div class="team-container">
        <!-- if (haveTeam) -->
        
          
        <div class="team-info">
          s
          <div>
            <h1><%= team.name %></h1>

            <h2>Members:</h2>
            <ul class="members-names">
              <!-- Should be a for loop here when passing the team object -->
              <% for(let name of names) { %>
                <li><%= name.name %></li>
            <% } %>
            </ul>
          </div>
          <h1>Requests: </h1>
          <div class="requests">
          <% for(let request of requests) { %>
            <%- include("./partials/request-card", { request: request }) %>
        <% } %>
      </div>
        </div>
        <div>
          <h2>Project Description: </h2>
          <p>
            <%= team.projectdescription %>
          </p>
        </div>
        <div class="team-buttons">
          <form action="/leaveTeam" method="post">
            <input type="hidden" name="email" id="email" value="<%= currentUser %>">
            <input type="hidden" name="teamid" id="teamid" value="<%= team.id %>">
            <button class="leave-team-button" type="submit">Leave this team?</button>
          </form>
        </div>
        <!-- else error -->
        <!-- <div>
          <h1>You are not in a team yet</h1>
        </div> -->
      </div>
      <% } %>
    </div>
    <script src="/javascripts/navbar.js"></script>
  </body>
</html>
