<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>
  <body>
    <%- include("./partials/navbar", {currentUser: currentUser}) %>

    <div class="main-container">
      <%- include("./partials/profile-sidebar") %>
      <div class="profile-info">
        <% if(locals.error){ %>
          <h3><%= error %></h3>
          <% } %>
        <form action="/updateProfile" method="post">
          <div class="input-container">
            <div class="label-input">
              <label for="name">Name</label>
              <input
                type="name"
                name="name"
                id="name"
                value="<%= student.name %>"
              />
            </div>
            <div class="label-input">
              <label for="email">Email</label>
              <input
                type="email"
                name="email"
                id="email"
                value="<%= student.email %>"
              />
            </div>
            <div class="label-input">
              <!-- <label for="major">Major</label> -->
              <p>Major: <%= student.major %></p>
              <input
                type="hidden"
                name="major"
                id="major"
                value="student.major"
              />
            </div>
          </div>
          <div class="button-container">
            <button class="submit">Edit profile</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
